@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */

* {
    box-sizing: border-box;
}
:root {
    --font-family-principal:'Dancing Script', cursive;
}

body {
    background-image: url(../img/documentos-boligrafo-sobre-fondo-mesa-madera_41050-2742.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1em;
}
.wrapper {
    max-width: 500px;
    background-image: url('../img/e35b61057f40e8a8ad8daa9d4c4e5e9f.png');
    margin: 30px auto;
}

header h1, header form input, main form input, main li,footer h2 {
 font-family: var(--font-family-principal);
 font-size: 1.2em;
 font-weight: 700;
}
button {
    border: none;
    display: inline-block;
}

/* inicio header */
header.row{
    max-width: 700px;
}
header h1 {
 font-size: 3em;
 padding: .3em 0;
 text-align: center;
}
header form {
 display: flex;
 justify-content: space-around;
 padding: 1.2em 0;
}
header form button {
    padding: .2em 1em;
    background-color: blue;
    color: white;
    transition: .5s ;
}
header form button:hover {
    background-color: rgb(9, 184, 9);
}
/* inicio main  */
main {
    background-color: white;
    margin: 1em;
    padding: 1em;
}
main form {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
}
main ul li {
    margin-bottom: .5em;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
main ul li button {
    transition: .5s;
    background-color: rgb(255, 148, 129);
}
main ul li button:hover {
    background-color: red;
    padding-right: 2em;
    color: white;
}

/* inicio footer  */
footer h2 {
    text-align: right;
    padding: 2em 2em 1em;
}