@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
/* font-family: 'Dancing Script', cursive; */

* {
    box-sizing: border-box;
}
:root {
    --font-family-principal:'Dancing Script', cursive;
}

body {
    background-image: url(../img/documentos-boligrafo-sobre-fondo-mesa-madera_41050-2742.jpg);
    background-repeat: repeat;
    background-size: contain;
    font-size: 1em;
}
.row {
    display: flex;
}
.wrapper {
    font-family: var(--font-family-principal);
    max-width: 500px;
    background-image: url('../img/e35b61057f40e8a8ad8daa9d4c4e5e9f.png');
    margin: 30px auto;
    padding: 2.8em;
    font-weight: 900;
    border-radius: 2%;
}
input,select {
    font-weight: inherit;
    font-size: 1.2em;
    font-family: inherit;
    border: none;
    background-color: rgb(255, 255, 248);
}
input {
    text-align: center;
}
button {
    border: none;
    border-radius: 10%;
}
select {
    appearance: none;
}
select:hover{
    cursor: pointer;
}

/* header  */
header div:first-child {
    position: relative;
}

header h1 {
 text-align: center;
 font-size: 2.4em;
}
.blockNone {
    display: none;
}
.block{
    font-size: 1.2em;
    color: red;
    text-align: center;
    display: block;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
}
header p {
    display: block;
}

header div.row {
justify-content: space-between;
margin: 38px 0;
}
header form button{
    width: 10%;
    background-color: rgb(250, 219, 96);
    border-radius: 5%;
    transition: .3s;
}
header form button:hover {
    background-color: rgb(43, 153, 43);
    color: white;
    cursor: pointer;
}
header form button:active {
    background-color: rgb(194, 233, 116);
}
/* main  */

main form div.row {
    flex-wrap: wrap;
    justify-content: space-between;
}
main ul {
    margin: 30px auto;
}
.priority_red {
    color: rgb(170, 36, 32);
}
.priority_yellow {
    color: rgb(60, 73, 174);
}
.priority_green {
    color: rgb(21, 121, 21);
}
main ul li {
    margin-bottom: .5em;
    padding-left: .2em;
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
}
main ul li button {
    transition: .5s;
    background-color: rgb(255, 148, 129);
    padding: 0 1em;
}
main ul li button:hover {
    background-color: red;
    padding-right: 2em;
    color: white;
} 


/* footer  */
footer h2{
    text-align: right;
}
